<h1>Asciify#index</h1>
<form action="/asciify/show">
    <input type="text" name="ascii_text"/>
    <select name="font">
      <option value="big">big</option>
      <option value="thin">thin</option>
      <option value="standard">standard</option>
    </select>
    <input type="submit" value="submit"/>
</form>